@import "bootstrap/scss/bootstrap";
@import url(https://fonts.googleapis.com/css?family=Montserrat);

.card-img-top {
    object-fit: cover;
    height: 300px;
}

.table-image {
    width: 75px;
    height: 75px;
    object-fit: cover;
}